DB_NAME=transcendence
DB_USER=transcendence_user
DB_PASSWORD=transcendence_pass
DB_HOST=localhost
DB_PORT=5432

DJANGO_SETTINGS_MODULE=django_server.settings
DEBUG=True
SECRET_KEY=your-secret-key-change-in-production

REDIS_URL=redis://redis:6379

VITE_BACKEND_URL=http://localhost:3000
