@tailwind base;
@tailwind components;
@tailwind utilities;

#gameContainer {
  @apply absolute inset-0;
  width: 100%;
  height: 100%;
}

#renderCanvas {
  @apply w-full h-full block;
  position: absolute;
  inset: 0;
  background: transparent;
}

#scoreHud {
  @apply absolute top-2 left-2 text-white text-lg z-20;
  pointer-events: none; /* so buttons like chat can still be clicked */
}

@font-face {
  font-family: "ComicNeue";
  src: url("../assets/ComicNeue.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

#chatMessages::-webkit-scrollbar {
  width: 8px;
  background-color: #ff4da6;
}

#chatMessages::-webkit-scrollbar-thumb:hover {
  background-color: #ff4da6;
}

#chatMessages {
  scrollbar-width: thin;
  scrollbar-color: #4bed89 rgba(0, 0, 0, 0.25);
}
  
#chatContainer {
  font-family: "ComicNeue", system-ui, sans-serif;
}

#chatBtn {
  @apply fixed bottom-7 right-5 z-[9999]  bg-[#ff1493] 
  border-2 border-pink-300 shadow-lg
  hover:border-pink-400
  transition-transform transition-colors duration-150
  active:scale-95 active:shadow-inner;
}
